@import "tailwindcss";

:root {
  --font-main: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
  --font-special: "Roobert", sans-serif;

  --color-theme-obsidian: #161616;
  --color-theme-charcoal: #262626;
  --color-theme-iron: #404040;
  --color-theme-mist: #525252;
  --color-theme-electric-blue: #3B82F6;
  --color-theme-emerald: #34D399;
  --color-theme-amber: #FBBF24;
  --color-theme-red: #F87171;
}

@theme inline {
  --font-main: var(--font-main);
  --font-special: var(--font-special);

  --color-theme-obsidian: var(--color-theme-obsidian);
  --color-theme-charcoal: var(--color-theme-charcoal);
  --color-theme-iron: var(--color-theme-iron);
  --color-theme-mist: var(--color-theme-mist);
  --color-theme-electric-blue: var(--color-theme-electric-blue);
  --color-theme-emerald: var(--color-theme-emerald);
  --color-theme-amber: var(--color-theme-amber);
  --color-theme-red: var(--color-theme-red);
}

@media (prefers-color-scheme: light) {
  :root {
    background: var(--color-theme-gunmetal);
    font-family: var(--font-main);
  }
}

@font-face {
  font-family: "Plus Jakarta Display";
  src: url("/fonts/PlusJakartaDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Display";
  src: url("/fonts/PlusJakartaDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Display";
  src: url("/fonts/PlusJakartaDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roobert";
  src: url("/fonts/Roobert Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--color-theme-obsidian);
  color: var(--color-theme-mist);
  font-family: var(--font-main);
}
