@import "tailwindcss";

:root {
  --font-main: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
  --font-special: "Roobert", sans-serif;

  --color-theme-primary: #2563EB;
  --color-theme-background-light: #F3F4F6;
  --color-theme-surface-light: #FFFFFF;
  --color-theme-primary-light: #111827;
  --color-theme-secondary-light: #6B7280;
}

@theme inline {
  --font-main: var(--font-main);
  --font-special: var(--font-special);

  --color-theme-primary: var(--color-theme-primary);
  --color-theme-background-light: var(--color-theme-background-light);
  --color-theme-surface-light: var(--color-theme-surface-light);
  --color-theme-primary-light: var(--color-theme-primary-light);
  --color-theme-secondary-light: var(--color-theme-secondary-light);
}

@media (prefers-color-scheme: light) {
  :root {
    background: var(--color-theme-background-light);
    font-family: var(--font-main);
  }
}

@font-face {
  font-family: "Plus Jakarta Display";
  src: url("/fonts/PlusJakartaDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Display";
  src: url("/fonts/PlusJakartaDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Display";
  src: url("/fonts/PlusJakartaDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roobert";
  src: url("/fonts/Roobert Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--color-theme-background-light);
  color: var(--color-theme-primary-light);
  font-family: var(--font-main);
}