services:
  db:
    image: postgres:17-alpine
    container_name: '${PROJECT_NAME?Variable not set}-db'
    restart: always
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
      - POSTGRES_DB=${POSTGRES_DB?Variable not set}
      - POSTGRES_USER=${POSTGRES_USER?Variable not set}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD?Variable not set}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - katharsis-net
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  keycloak:
    image: quay.io/keycloak/keycloak:26.5.2
    command: start-dev
    container_name: '${PROJECT_NAME?Variable not set}-keycloak'
    ports:
      - 8081:8080
    depends_on:
      db:
        condition: service_healthy
    networks:
      - katharsis-net
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://db:5432/${POSTGRES_DB}
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KC_HOSTNAME_STRICT: "false"
      KC_HTTP_ENABLED: "true"

  backend:
    container_name: '${PROJECT_NAME?Variable not set}-backend'
    build:
      context: ./backend
      target: development
    dns:
      - 8.8.8.8
    ports:
      - '8080:8080'
    depends_on:
      db:
        condition: service_healthy
        restart: true
      keycloak:
        condition: service_started
        restart: true
    networks:
      - katharsis-net
    environment:
      - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL}
      - SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=${SPRING_JPA_HIBERNATE_DDL_AUTO}
      - SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=${SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT}
    develop:
      watch:
        - path: ./backend
          target: /backend
          action: sync+restart
          ignore:
            - build
            - .gradle
            - .idea
            - build.gradle.kts

  frontend:
    container_name: '${PROJECT_NAME?Variable not set}-frontend'
    build:
      context: ./frontend
      target: dev
    ports:
      - '3000:3000'
    depends_on:
      - backend
    networks:
      - katharsis-net
    develop:
      watch:
        - path: ./frontend
          target: /app
          action: sync
          ignore:
            - .next
            - node_modules
            - .git
            - .DS_Store
            - .env
        - path: ./package.json
          action: rebuild

volumes:
  postgres_data:

networks:
  katharsis-net:
    driver: bridge