spring:
  application:
    name: katharsis

  threads:
    virtual:
      enabled: true

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:validate}
    properties:
      hibernate:
        dialect: ${SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT}

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI}
          jwk-set-uri: ${KEYCLOAK_JWKS_URI}

jwt:
  auth:
    converter:
      resource-id: ${KEYCLOAK_CLIENT_ID}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: alpha
  use-management-port: false
  show-actuator: true

server:
  forward-headers-strategy: framework

logging:
  level:
    root: INFO
    org.keycloak: DEBUG
